*{
  margin:auto;
}

html, body{
  margin:auto;
}

.foreground {
  position: absolute;	  position: fixed;
  z-index: 1;	  z-index: 1;
  height: 10vh;	  height: 10vh;
  width: 100vw;	  width: 100vw;
  display: grid;	  display: grid;
  grid-template-areas: 	"button1 button2 button3 button4 button5";	  grid-template-areas: 	"button1 button2 button3 button4 button5";
	grid-template-columns: 20% 20% 20% 20% 20%;		grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
	grid-gap: 0px;		grid-gap: 0px;
	margin: auto;	
  justify-content: stretch;	  justify-content: stretch;
}

.button {
  height: 100%;
  width:100%;
  display:block;
  border: none;
  background-color: rgba(0,0,0,0.5);
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255, 255, 255,0);
  color: #323232;
}
