/*   structural bits   */
*{
    margin: 0px auto;
    font-family: "Lucida Console", monaco;
}
html, body{
    background: #666666 !important;
}
.pageGrid{
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: auto;
}

/*    grid items    */
#menu{
  position: fixed !important;
  margin: 10px !important;
  padding: 10px !important;
  background-color: white;
  border-color: : white;
  box-shadow: 2px 2px 15px ;
}
#visualContainer{
  text-align: center;
}
.content{
  text-align: justify;
  padding: 50px;
}

/*    button stuff    */
.button{
  background: #666666;
  color: #000000;
  border-color: #000000;
  font-size: 16px;
  font-family: "Lucida Console", monaco;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #000000;
  padding: 16px 64px 16px 64px;
}
.button:hover{
  background-color:#DDDDDD;
  transition: background-color 0.2s;
}
.button:active{
  border-top: 3px solid #000000;
  border-left: 3px solid #000000;
}
