#button1{
  background-color: rgba(255, 255, 255,0);
  color: #323232;
}

.gallery{
  width:100vw;
  position:absolute;
  top: 10vh;
  left:10%;

  background-color: rgba(255,255,255,0);

  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 25vw auto;
  grid-gap: 2vw;
}

.pic{
  width: 25vw;
  height: 25vw;
  overflow: hidden;
}

.pic img{
  margin-left: -20%;
  height: 200%;
  object-fit: cover;
}

.pic :hover{
  margin-left: 0;
}
